version: "3.8"

services:
  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: long12345
      MYSQL_DATABASE: ev_warranty_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./backend/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  auth_service:
    build:
      context: ./backend
      dockerfile: auth_service/Dockerfile
    volumes:
      - ./backend/shared:/app/shared
    ports:
      - "8001:8001"
    environment:
      - DATABASE_URL=mysql+pymysql://root:long12345@mysql:3306/ev_warranty_db
      - JWT_SECRET=super-secret-key
      - ACCESS_TOKEN_HOURS=8
      - USER_SERVICE_URL=http://user_service:8002
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/"]
      interval: 10s
      timeout: 5s
      retries: 10

  user_service:
    build:
      context: ./backend
      dockerfile: user_service/Dockerfile
    volumes:
      - ./backend/shared:/app/shared
    ports:
      - "8002:8002"
    environment:
      - DATABASE_URL=mysql+pymysql://root:long12345@mysql:3306/ev_warranty_db
      - JWT_SECRET=super-secret-key
    depends_on:
      mysql:
        condition: service_healthy

  gateway:
    build:
      context: ./backend          
      dockerfile: gateway/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend/shared:/app/shared
    environment:
      - AUTH_SERVICE_URL=http://auth_service:8001
      - USER_SERVICE_URL=http://user_service:8002
      - JWT_SECRET=super-secret-key
    depends_on:
      auth_service:
        condition: service_healthy
      user_service:
        condition: service_started

volumes:
  mysql_data: